@model AuthSys.Models.Member

@{
    ViewBag.Title = "Nyt medlem";
}

<script>
    $(document).ready(function () {
        //Add handlers to the buttons working with webcam
        initTriggers();
    });    
</script>
<h2>Tilføj medlem</h2>

<div class="memberPhoto">
    <video id="video" width="250" height="150" autoplay style="float: left; visibility: hidden;"></video>
    <canvas id="canvas" width="250" height="150" style="float: right; background-color: springgreen;"></canvas>
    <br /> 
    <input type="button" id="activateCamButton" value="Aktiver kamera" />
    <input type="button" id="shoot" value="Tag billed" />
    <button id="disableCam">Deaktiver kamera</button>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()    

    <div class="form-horizontal">        
        <br /><br /><br /><br /><br /><br /><br /><br />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "50", size = "50" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "50", size = "50" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control AddMemberControls", maxlength = "50", size = "50", @type = "date" })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Age, new { @readonly = "readonly", @class = "form-control AddMemberControls", maxlength = "3", @placeholder = "Alder udfyldes automatisk" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "50", size = "50" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "4", size = "50" } })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "50", size = "50" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SportTypes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SportTypes, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "50", size = "50" } })
                @Html.ValidationMessageFor(model => model.SportTypes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opret" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p style="color: @ViewBag.TextColor; font-size: 22px;">@ViewBag.Message</p>

<div>
    @Html.ActionLink("Registrerede medlemmer", "RegisteredMembers")
</div>
<div style="display: none" id="confirmBox">
    <p>Medlem tilføjet</p>
</div>
