@model AuthSys.Models.Member

@{
    ViewBag.Title = "Nyt medlem";
}

<h2>Tilføj medlem</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Member</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "50", size = "50" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "50", size = "50" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control AddMemberControls", maxlength = "50", size = "50", @type = "date" })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Age, new { @readonly = "readonly", @class = "form-control AddMemberControls", maxlength = "3", @placeholder = "Alder udfyldes automatisk" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SportTypes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SportTypes, new { htmlAttributes = new { @class = "form-control AddMemberControls", maxlength = "50", size = "50" } })
                @Html.ValidationMessageFor(model => model.SportTypes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opret" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p style="color: @ViewBag.TextColor; font-size: 22px;">@ViewBag.Message</p>

<div>
    @Html.ActionLink("Registrerede medlemmer", "RegisteredMembers")
</div>
<div style="display: none" id="confirmBox">
    <p>Medlem tilføjet</p>
</div>
