@model IEnumerable<AuthSys.Models.Member>

@{
    ViewBag.Title = "Registrede medlemmer";
}

<div>
    <hr />
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
                <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                <th>@Html.DisplayNameFor(model => model.Age)</th>
                <th>@Html.DisplayNameFor(model => model.SportType)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.FirstName)</td>
                    <td>@Html.DisplayFor(m => item.LastName)</td>
                    <td>@Html.DisplayFor(m => item.BirthDate)</td>
                    <td>@Html.DisplayFor(m => item.CreationDate)</td>
                    <td>@Html.DisplayFor(m => item.Age)</td>
                    <td>@Html.DisplayFor(m => item.SportType)</td>
                </tr>
            }
        </thead>
    </table>
    
</div>

<div>
    @Html.ActionLink("Tilføj medlem", "AddMember")
</div>